@import '/source_lead_website/static/src/css/font.css';
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-family: gsc, inherit, sans-serif;
}
.container-form {
  top: 100%;
  margin-top: -40px;
  position: fixed;
  z-index: 3299792458;
}
#form_contact {
  width: 300px;
  transition: bottom 0.5s;
  padding-bottom: 10px;
  overflow: hidden;
  position: relative;
  bottom: 0;
  right: 0;
  z-index: 201;
}
#form_contact .contact-header {
  display: flex;
  height: 40px;
  align-items: center;
  border-bottom: 1px solid #bf8888;
  cursor: pointer;
}
#form_contact p {
  margin: 0;
}
#form_contact .contact-header p {
  margin: 0;
  width: 100%;
  padding: 0 0 0 15px;
  text-align: left;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  font-family: inherit;
}
#form_contact .contact-body {
  padding: 15px 15px 0 15px;
  display: block;
  align-items: center;
}
#form_contact .contact-body table {
  margin: 0;
}
#form_contact .form-control {
  padding: 0 12px;
  width: auto;
  border: none;
  border-radius: 2px;
}
#form_contact .contact-body input,
#form_contact .contact-body textarea {
  width: 100%;
  color: #171717;
  height: 32px;
  padding-left: 10px;
  background-color: #ffffff;
  margin-bottom: 10px;
}
#form_contact .contact-footer {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}
#form_contact .contact-footer button {
  cursor: pointer;
  margin: 15px;
  width: 100%;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  border-radius: 4px;
  background-color: #00BCD4;
}
.width-icon {
  display: none;
  height: 40px;
  border-radius: 4px;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.55s linear;
  -o-transition: opacity 0.55s linear;
  transition: opacity 0.55s linear;
}
#form_vertical .modal.fade .modal-dialog {
  width: 420px;
  border-radius: 4px;
  transition: transform 1s ease-out;
  box-shadow: 0 12px 25px 5px rgba(0, 0, 0, 0.4);
  margin: 30px auto !important;
  padding-top: 15px;
}
#form_vertical .contact-header {
  display: flex;
  height: 40px;
  align-items: center;
}
#form_vertical p {
  margin: 0;
}
#form_vertical .contact-header p {
  padding: 0;
  margin: 0 0 0 20px;
  width: 100%;
  text-align: left;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  font-family: inherit;
}
#form_vertical .contact-header span {
  color: #ffffff !important;
  font-family: gsc, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  height: 42px;
  width: 42px;
  transition: opacity 0.2s, -webkit-transform 0.2s !important;
  transition: transform .2s, opacity .2s !important;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s !important;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  opacity: .5;
  cursor: pointer;
  z-index: 2147483637;
  position: absolute;
  padding: 10px;
  right: -1px;
  top: -1px;
}
#form_vertical .contact-header span .fa {
  opacity: 0.7;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s !important;
}
#form_vertical .contact-header span:hover {
  opacity: 1;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#form_vertical .contact-body {
  display: block;
  padding: 0 20px 0 20px;
}
#form_vertical .form-control {
  padding: 0 12px;
  width: auto;
}
#form_vertical .contact-body input,
#form_vertical .contact-body textarea {
  width: 100%;
  color: #171717;
  height: 32px;
  padding-left: 10px;
  background-color: #ffffff;
}
#form_vertical .contact-body input {
  margin-bottom: 16px;
}
#form_vertical .contact-footer {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
}
#form_vertical .contact-footer button {
  width: 100%;
  margin: 0 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 4px;
  background-color: #00BCD4;
  border: none;
}
#form_vertical .envelope {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40%;
  height: 42px;
  background-color: red;
  color: #ffffff;
  cursor: pointer;
  z-index: 201;
  transition: 0.5s;
  border-radius: 2px;
}
#form_vertical .envelope.left {
  left: 0;
}
#form_vertical .envelope .icon-contact {
  font-family: gsc, sans-serif;
  font-size: 20px;
  z-index: 10;
  padding: 13px;
  width: 47px;
  font-weight: normal;
}
#form_vertical .left .icon-contact {
  transform: scaleX(-1);
}
#form_vertical .icon-contact:before {
  content: "\e801";
  color: inherit!important;
  font-family: gsc, sans-serif !important;
  font-style: inherit!important;
  font-weight: inherit!important;
  vertical-align: baseline!important;
  background-color: inherit!important;
}
#form_vertical .envelope span {
  padding: 10px;
  font-weight: bold;
}
#form_vertical .left.collect-envelope.begin {
  left: -200px !important;
}
#form_vertical .right.collect-envelope.begin {
  right: -200px !important;
}
.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(11, 16, 16, 0.6);
}
.error-question {
  background-color: #BBDEFB !important;
}
.contact-footer #btn_send span {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase !important;
  line-height: 32px;
}
.contact-close {
  margin-right: 15px;
  height: 20px;
  width: 20px;
}
.contact-close .fa {
  font-size: 20px;
  color: #e4e4e4;
}
#form_vertical #modal-success .modal-body {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: red;
  height: 200px;
  border-radius: 4px;
}
#form_vertical #modal-success .modal-header,
#form_vertical #modal-success .modal-footer {
  display: none;
}
#form_vertical #modal-success p.title {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}
#form_vertical #modal-success p.txt {
  text-align: left;
  font-size: 14px;
  margin: 20px 0;
}
.by-team {
  height: 40px;
  text-align: center;
}
.by-team .background-team {
  text-align: center;
  margin: 10px 60px;
  border-radius: 20px;
  background-color: #f0f0f0 !important;
  padding: 5px;
  height: 28px;
  opacity: 0.2;
}
.by-team a {
  text-align: center;
}
.by-team div {
  margin-top: -33px;
}
.by-team .by-team-txt {
  font-size: 11px;
  color: #ffffff;
}
#form_vertical .by-team.width-team {
  margin-bottom: -50px;
}
#form_vertical .by-team.width-team .background-team {
  background-color: #333333 !important;
  opacity: 1;
  width: 165px;
  margin: 10px auto;
}
.contact-body .name {
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  margin-bottom: 5px;
  text-align: left;
}
.submit-success {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.submit-success .title {
  font-size: 20px;
  font-weight: bold;
}
.submit-success .txt {
  font-size: 16px;
}
.notShow {
  display: none;
}
@media (max-width: 768px) {
  #modal-success .modal-body {
    height: 100px;
  }
  .width-icon {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 15px;
    bottom: 15px;
    z-index: 2000;
    padding: 10px;
    color: #ffffff;
  }
  .width-icon .txt {
    margin: 10px;
  }
  .width-icon .fa {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 440px) {
  #form_contact {
    width: 100%;
  }
  .modal-dialog {
    width: 100% !important;
    margin-top: 0 !important;
  }
}
@media (min-width: 992px) {
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
span#close_modal:before {
  content: "\e81c";
  font-family: gsc, sans-serif !important;
  color: inherit !important;
  font-style: inherit !important;
  font-weight: inherit !important;
  vertical-align: baseline !important;
  background-color: inherit !important;
}
